@using RockPaperScissorsFrontend.Models
@using RockPaperScissorBusinessLayer;
@model GameModel

@{
    ViewData["Title"] = "Game";
}


<div class="text-center">
    <div class="containerDiv">

        <div class="container1">
            <p id="result" class="blocktext">Choose one of the options available to see if you or the bot wins!</p>
        </div>


        <div class="containterTop">
            <div class="child">
                <p id="playerOne" class="pc">Player 1</p>
            </div>
            <div class="child">
                <p id="playerTwo" class="pc">Player 2</p>
            </div>
        </div>

        <div class="containerMiddle">
            <div class="child">
                <div class="chosenImgContainer">
                    <div id="chosenImage" class="chosenImg">
                        <img src="~/imgs/rpc2.png" alt="rockPaperScissorImg" />
                    </div>
                </div>
            </div>

            <div class="child">
                <div class="chosenImgContainer" style="background-color:#222121">
                    <div id="botChosenImage" class="chosenImg">
                        <img src="~/imgs/rpc2.png" alt="rockPaperScissorImg" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br />
    <div class="userOptionsContainer">
        <div class="optionImg" onclick="testMethod('rock')">
            <img src="~/imgs/Rock.png" alt="rockImg" />
        </div>
        <div class="optionImg" onclick="testMethod('paper')">
            <img src="~/imgs/Paper.png" alt="PaperImg" />
        </div>
        <div class="optionImg" onclick="testMethod('scissors')">
            <img src="~/imgs/Scissors.png" alt="ScissorImg" />
        </div>
    </div>


    @*<button class="btn-lg" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>*@

</div>



<script>
    function testMethod(value)
    {
        if (value == "rock") {
            $.post("@Url.Action("PostGame", "Home", new { move = Movess.Rock})", function (res) {
                document.querySelector("#result").innerHTML = res.data.result;
                getPlayerInfo(res);
                changeSelectedOptionImg(res.data.playerOne.move, "User");
                changeSelectedOptionImg(res.data.playerTwo.move, "Bot");

            });
        }
        else if (value == "paper") {
             $.post("@Url.Action("PostGame", "Home", new { move = Movess.Paper})", function (res) {
                 document.querySelector("#result").innerHTML = res.data.result;
                 getPlayerInfo(res);
                 changeSelectedOptionImg(res.data.playerOne.move, "User");
                 changeSelectedOptionImg(res.data.playerTwo.move, "Bot");

            });
        }
        else if (value == "scissors") {
             $.post("@Url.Action("PostGame", "Home", new { move = Movess.Scissors})", function (res) {
                 document.querySelector("#result").innerHTML = res.data.result;
                 getPlayerInfo(res);
                 changeSelectedOptionImg(res.data.playerOne.move, "User");
                 changeSelectedOptionImg(res.data.playerTwo.move, "Bot");

            });
        }
    }

    function getPlayerInfo(value) {

        document.querySelector("#playerOne").innerHTML = value.data.playerOne.playerName + "Score : " + value.data.playerOne.score;
        document.querySelector("#playerTwo").innerHTML = value.data.playerTwo.playerName + "Score : " + value.data.playerTwo.score;
    }

    function changeSelectedOptionImg(value, type) {
        divId = "#chosenImage";
        if (type == "Bot") { divId = "#botChosenImage"; }

        if (value == 0) { document.querySelector(divId).innerHTML = '<img src="/imgs/Rock.png" alt="rockImg" />' }
        else if (value == 1) { document.querySelector(divId).innerHTML = '<img src="/imgs/Paper.png" alt="PaperImg" />' }
        else if (value == 2) { document.querySelector(divId).innerHTML = '<img src="/imgs/Scissors.png" alt="ScissorImg" />' }
    }

</script>
