@using RockPaperScissorsFrontend.Models
@using RockPaperScissorBusinessLayer;
@model GameModel

@{
    ViewData["Title"] = "Game";
}


<div class="text-center">
    <h1>Best of luck!</h1>
    <div class="containerDiv">

        <div class="container1">
            <p id="result" class="blocktext">Computer Wins!</p>
        </div>


        <div class="containterTop">
            <div class="child">
                <p id="playerOne" class="pc">Player 1</p>
            </div>
            <div class="child">
                <p id="playerTwo" class="pc">Player 2</p>
            </div>
        </div>

        <div class="containerMiddle">
            <div class="child" style="background-color:chartreuse">
                <div class="chosenImgContainer">
                    <div id="chosenImage" class="chosenImg">
                        <img src="~/imgs/testImg.jpg" alt="testImg" />
                    </div>
                </div>

                <div class="userOptionsContainer">
                    <div class="optionImg" onclick="testMethod('rock')">
                        <img src="~/imgs/Rock.jpg" alt="testImg" />
                    </div>
                    <div class="optionImg" onclick="testMethod('paper')">
                        <img src="~/imgs/Paper.jpg" alt="testImg" />
                    </div>
                    <div class="optionImg" onclick="testMethod('scissors')">
                        <img src="~/imgs/Scissors.jpg" alt="testImg" />
                    </div>
                </div>


            </div>

            <div class="child" style="background-color:green">
                
            </div>
        </div>

    </div>


    <button class="btn-lg" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>

    @*<div style="cursor:pointer; background-color:blue;" onclick="testMethod('rock')">Rock</div>
    <div style="cursor:pointer; background-color:cadetblue"; onclick="testMethod('paper')">Paper</div>
    <div style="cursor:pointer; background-color:lightblue;" onclick="testMethod('scissors')">Scissors</div>*@
</div>

<p>Player One move</p>
<p id="player1Move">Empty</p>
<p>Player two move</p>
<p id="player2Move">Empty</p>



<script>
    function testMethod(value)
    {
        if (value == "rock") {
            $.post("@Url.Action("PostGame", "Home", new { move = Movess.Rock})", function (res) {
                document.querySelector("#player1Move").innerHTML = res.data.playerOne.move;
                document.querySelector("#player2Move").innerHTML = res.data.playerTwo.move;
                document.querySelector("#result").innerHTML = res.data.result;
                getPlayerInfo(res);
                changeSelectedOptionImg(0);
            });
        }
        else if (value == "paper") {
             $.post("@Url.Action("PostGame", "Home", new { move = Movess.Paper})", function (res) {
                document.querySelector("#player1Move").innerHTML = res.data.playerOne.move;
                document.querySelector("#player2Move").innerHTML = res.data.playerTwo.move;
                 document.querySelector("#result").innerHTML = res.data.result;
                 getPlayerInfo(res);
                 changeSelectedOptionImg(1);

            });
        }
        else if (value == "scissors") {
             $.post("@Url.Action("PostGame", "Home", new { move = Movess.Scissors})", function (res) {
                document.querySelector("#player1Move").innerHTML = res.data.playerOne.move;
                 document.querySelector("#player2Move").innerHTML = res.data.playerTwo.move;
                 document.querySelector("#result").innerHTML = res.data.result;
                 getPlayerInfo(res);
                 changeSelectedOptionImg(2);

            });
        }
    }

    function getPlayerInfo(value) {

        document.querySelector("#playerOne").innerHTML = value.data.playerOne.playerName + ": " + value.data.playerOne.score;
        document.querySelector("#playerTwo").innerHTML = value.data.playerTwo.playerName + ": " + value.data.playerTwo.score;
    }

    function changeSelectedOptionImg(value) {

        if (value == 0) {
            document.querySelector("#chosenImage").innerHTML = '<img src="/imgs/Rock.jpg" alt="testImg" />'
        }
        else if (value == 1) {
            document.querySelector("#chosenImage").innerHTML = '<img src="/imgs/Paper.jpg" alt="testImg" />'
        }
        else if (value == 2) {
            document.querySelector("#chosenImage").innerHTML = '<img src="/imgs/Scissors.jpg" alt="testImg" />'

        }

    }

</script>
