@{
    ViewData["Title"] = "Game";
}


<div class="text-center">

    <h1>Best of luck!</h1>
    <div class="containerDiv">
        <div class="container1">
            <p class="blocktext">Computer Wins!</p>
        </div>

        <div class="containerContent">
            <div class="child">
                <p class="pc">Player 1: </p>
            </div>
            <div class="child">
                <p class="pc">Player 2: </p>
            </div>
        </div>
    </div>

    <button class="btn-lg" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>

</div>
