@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@


    <h3 >This is a web version of rock-paper-scissors. <br />In the game you will be playing against a computer.<br /> Once you are ready click the start button</h3>
    
    <img  id ="imgHome" src="~/imgs/Image.png" alt="Rock-Paper-Scissor Image" /><br />

    <button class="btn-lg" onclick="location.href='@Url.Action("Game", "Home")'">Start</button>

    <button class="btn-lg" onclick="location.href='@Url.Action("Instructions", "Home")'">More Info</button>
</div>
