@{
    ViewData["Title"] = "Instructions";
}

<div class="text-center">

    <h1 class="display-4">What is the game about?</h1>

    <p>Rock paper scissors is a well known game which usually consists of two players both of which use their hands to represent one of the tree possible choices (rock/ paper /scissors)</p>
    <p>In this web version you will be facing a bot instead of another player</p>
    <p>Once you chose an option the bot will respond with another, depending on what has been picked a winner will be selected and one point will be awarded</p>

    <button onclick="location.href='@Url.Action("Index", "Home")'">Back to Home</button>
</div>
